# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
jupyter
# tests/linter
black
coverage
flake8
pytest
yapf

# API
# gcsfs
# google-cloud-storage
# mlflow
# s3fs

# utilities
# six>=1.14
# joblib
memoized-property
# termcolor


##################
## GOOGLE DRIVE ##
##################
bleach
cachetools
certifi
cffi
charset-normalizer
colorama
cryptography
docutils
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
importlib-metadata
jeepney
joblib
keyring
oauthlib
packaging
pkginfo
protobuf
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
python-dateutil
pytz
readme-renderer
requests
requests-oauthlib
requests-toolbelt
rfc3986
rsa
scipy
SecretStorage
six
threadpoolctl
tqdm
uritemplate
urllib3
webencodings
zipp